@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
table {
    width: 100%;
}

.create-button{
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 2%;
  margin-right: 2%; 
}

mat-paginator
{
  position: fixed;
  bottom: 0;
  left:0;
  width: 100%;
}

.heading{
  margin-top: 15px;
  text-align: center;
}

.table{
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 10%;
}



.refresh
{
  background-color: #80CBC4;
  float: left;
}

table th
{
  font-weight: 900;
  font-size: medium;
  text-align: center;
  background-color: rgb(228, 228, 228);
}

table td{
  text-align: center;
 }

.search
{
  width: 40%;
  align-content: center;
}

.heading {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 20px;
  margin-bottom: 15px;
}
h2 {
  font-weight: 600;
}
.create-button {
  position: absolute;
  right: 0;
}
.admin-options{
  width: 90%;
  margin-left: 5%;
  margin-bottom: 1em;
  margin-top: 2%;
}
.icons{
margin-left: 15px;
margin-right: 0px;
transform: scale(1.1);
color: gray;
font-weight:100;
  /* color:lightgray; */
}